php_value max_input_vars 9999
php_value upload_max_filesize 5M

<IfModule mod_rewrite.c>
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule> 
 
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>